/*==================================================================================================== 
    MOBILE S
==================================================================================================== */
@media (max-width: 374px) {

    /* Add here Mobile S specific adjustments  ==> try to adjust at least until 320px */
    .book {
        min-width: 280px;
    }

    #logoText {
        display: none;
    }

    .content__Footer {
        flex-direction: column;
        font-size: 12px;
    }

    .sendComment {
        flex-direction: column;
    }

    .sendComment button {
        border-top-right-radius: 0px;
        border: 1px solid white;
    }
}