/*==================================================================================================== 
    CSS for book's
==================================================================================================== */
.book {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--clrPrim15);
    color: var(--clrPrim95);
    padding: 24px;
    border-radius: var(--stdRadius);
    gap: 8px;
    min-width: 360px;
    max-width: 25%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.book h2 {
    text-align: center;
    height: 84px;
}

.book__dividingLine {
    max-height: 2px;
    min-height: 2px;
    background-color: var(--clrAcc50);
}


.book__img {
    background-color: var(--clrPrim20);
    display: flex;
    justify-content: center;
    align-items: center;
}

.book__img>img {
    width: 200px;
    height: 200px;
}

.book__infoArea {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoArea__highlights {
    display: flex;
    justify-content: space-between;
}

.infoArea__likeOrNot {
    display: flex;
    align-items: center;
    font-size: var(--fsDesktopSec);
    gap: 8px;

}

.infoArea__price {
    color: tomato;
    font-size: 26px;
    font-weight: bold;
}

.heart {
    width: 20px;
    height: 20px;
}

.heart:hover {
    fill: var(--clrAcc50);
    filter: drop-shadow(0px 0px 5px var(--clrAcc50));
}

.isLikedBook {
    fill: hsl(0, 100%, 50%);
    filter: drop-shadow(0px 0px 5px red);
}

.favourit {
    width: 20px;
    height: 20px;
}

.favourit:hover {
    fill: var(--clrAcc50);
    filter: drop-shadow(0px 0px 5px var(--clrAcc50));
}

.isFavouritBook {
    fill: yellow;
    filter: drop-shadow(0px 0px 5px yellow);
}

.infoArea__line {
    display: flex;
    justify-content: center;
}

.label {
    flex: 1;
}

.value {
    flex: 2;
}

.book__commentArea {
    flex: 1;
    font-size: var(--fsDesktopSec);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

}

.displayComments {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 100px;
    overflow-y: auto;
    scrollbar-color: var(--clrPrim75)var(--clrPrim20);
    scrollbar-width: thin;
}

.displayComment {
    display: flex;
    gap: 8px;
}

.comment {
    flex: 2;
}

.submitter {
    flex: 1;
}

.sendComment {
    display: flex;
    justify-content: center;
}

.sendComment input {
    flex: 1;
    background-color: var(--clrPrim20);
    color: var(--clrPrim75);
    border: none;
    cursor: pointer;
    border: 1px solid var(--clrPrim20);
}

.sendComment input::placeholder {
    color: var(--clrPrim85);
}

.sendComment input:focus {
    outline: none;
    border: 1px solid white;
}

.sendComment button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sendComment button:hover {
    background-color: var(--clrAcc45);
    border: 1px solid white;
}