:root {
    /*============================================================ 
        :ROOT - FONTS
    ============================================================ */
    --fontFamilyHeadlines: Arial, Helvetica, sans-serif;
    --fontFamilyDefault: Verdana, Geneva, Tahoma, sans-serif;

    /*========================================
    FONT SIZES - AS A TYPICAL STRUCTURE FOR WEBPAGES
    USAGE:
     ==> "...Default..." for Text and Inputs
     ==> "...Sec..." e.g. Imagedescription (add italic and a lighter color) 
     ==> "...Tertiary..." e.g. Tables
     ========================================*/

    /*====================
    FONT SIZES - INTERACTION HEAVY
    ====================*/
    /*Desktop*/
    /*48px* - Use between 35px-50px*/
    --fsDesktopH1: 2rem;
    /*40px*/
    --fsDesktopH2: 1.75rem;
    /*36px*/
    --fsDesktopH3: 1.25rem;
    /*32px*/
    --fsDesktopH4: 1.25rem;
    /*20px* - Use between 14px-20px*/
    --fsDesktopDefault: 1.125rem;
    /*18px* - Use 2px smaller than default*/
    --fsDesktopSec: 1rem;
    /*16px*/
    --fsDesktopTertiary: 1rem;
}