/*==================================================================================================== 
    START ==> HEADER
==================================================================================================== */
header {
    /* add specific design for header background here */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background-color: var(--clrPrim10);
    color: var(--clrPrim95);
}

.content__Header {
    /* add specific design for header content here */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#logoHeader {
    height: 100%;
    padding: var(--stdPadding);
}

#logoText {
    flex: 1;
}

/*==================================================================================================== 
    END ==> HEADER
==================================================================================================== */