/*==================================================================================================== 
    START ==> MAIN
==================================================================================================== */
main {
    position: relative;
    top: 10vh;
    /* 1:1 height from header */
}

/*============================================================ 
    SECTION A
============================================================ */
.section__Books {
    /* add specific design for section background here */
    padding: 100px 0px calc(100px + 10vh) 0px;
}

.content__section__Books {
    /* add specific design for section content here */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

/*==================================================================================================== 
    END ==> MAIN
==================================================================================================== */